<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>XSS Injection</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>
    <h1> Text send by the user: </h1>

    <!-- This div shows HTML and are vulnerable to XSS injection -->
    <div th:utext="${data.userInput}"> </div>

    <!-- THis div sanitize the string and are not vulnerable to XSS injection -->
    <div th:text="${data.userInput}"> </div>

    <div style="font-style: italic; padding: 20px;"> If a Javascript code execute here, your application is not safe!</div>

</body>

</html>