<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>XSS Injection</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
    </head>

    <body>
        <form action="#" th:action="@{/submit}" th:object="${data}" method="post">
            <textarea th:field="*{userInput}" rows="4" cols="60" />
            <button type="submit" name="action" value="Send">Send</button>
            <button type="submit" name="action" value="Send" th:formaction="@{/sanitaze}"> Send and Sanitaze</button>
        </form>
        <div style="font-style: italic;"> Insert a Javascript code here like: &lt;b&gt; My code &lt;/b&gt &lt;script&gt; alert(&#39;Hi&#39;) &lt;/script&gt; </div>
    </body>

</html>